*.rf-p {
	background-color: #F3F2F2;
	color: #C0C0C0;
	border-width: 1px;
	border-style: solid;
	padding: 1px;
}
*.rf-p-hdr {
	background-color: #4A75B5;
	border-color: #4A75B5;
	font-size: 11px;
	color: #FFFFFF;
	font-weight: bold;
	font-family: Arial, Verdana, sans-serif;
	padding: 2px;
	border-width: 1px;
	border-style: solid;
	background-position: top left;
	background-repeat: repeat-x;
	background-image: url(../org.richfaces.images/gradientA.png);
}
*.rf-p-b {
	font-size: 11px;
	color: #000000;
	font-family: Arial, Verdana, sans-serif ;
	padding: 10px;
}
